.table {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #D3D3D3;

    -fx-font-family: "Sarasa Mono Slab SC";
}

.table:focused {
    -fx-border-color: #1CAD7E;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.1, 0, 0);
}

.table .column-header,
.table .column-header .filler,
.table .column-header-background .filler {
    /*-fx-background-color: #D3D3D3;*/
}

.tooltip {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-border-radius: 10;
    -fx-font-family: "Sarasa Mono Slab SC";
    -fx-font-size: 12;
    -fx-text-fill: black;
}
